body {
    display: flex;
    /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */
    flex-flow: row wrap;
}
body > * {
    flex: 1 100%;
}

main {
    display: flex;
    flex-flow: row wrap;
}

mainnavigation {
    background: gold;
    flex: 1 auto;
}

maincontent {
    background: deepskyblue;
}

searchbox {
    background: tomato;
}

ads {
    background: hotpink;
    flex: 1 auto;
}

footer {
    background: lightgreen;
}

@media (min-width: 768px) {
    body {
        width: 750px;
        background-color: red;
    }
}


/* Medium devices (desktops, 992px and up) */


/* container width: 970 */

@media (min-width: 992px) {
    body {
        width: 970px;
        background-color: pink;
    }
    /* article and nav will share the same row */
    #maincontent {
        flex-basis: 70%;
    }
    #mainnavigation {
        flex-basis: 30%;
    }
}


/* Large devices (large desktops, 1200px and up) */


/* container width: 1170px */

@media (min-width: 1200px) {
    body {
        width: 1170px;
        background-color: purple;
    }
    searchbox {
        flex: 1 auto;
    }
    main {
        order: 2;
        flex: 3 10px;
    }
    mainnavigation {
        order: 1;
    }
    ads {
        order: 3;
    }
    footer {
        order: 4;
    }
    /* article, nav and aside will share the same row
    #maincontent {
        flex-basis: 60%;
    }
    #mainnavigation, #news {
        flex-basis: 20%;
    }*/
}