body {
  display: flex;
  flex-flow: row wrap;
}

body > * {
  flex: 1 100%;
}

.header {
}

main {
  display: flex;
  flex-flow: column wrap;
}

.mainnavigation {
  flex: 0.6 auto;
}


.footer {
  margin-top: 50px;
  border-radius: 8px;
  background: #292d39;

  display: flex;
  flex-flow: col wrap;
  justify-content: space-between;
}

.maincontent {
}


.ads {
  flex: 1 auto;
}

@media all and (min-width: 1200px) {
  /* TEMPLATE */
  body {
      width: 1170px;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
  }


  .header { flex: 0 auto; }
  main    { flex: 8 10px; }
  .mainnavigation { order: 1; align-self: flex-start}
  main  { order: 2; }
  .ads { order: 3; }
  .footer  { order: 4; }

  /* NAVIGATION */

  .mainnavigation {
      background-color: #63baf9;
      display: inline-block;
      border-radius: 8px;
      font-size: 18px;
      font-family: sans-serif;
      border: none;
      cursor: pointer;
  }

  .profile {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: top;
      background: white;
      font-weight: normal;
      border: 1px solid #63baf9;
      text-decoration: none;
      color: black;
      width: 100%;
      display: inline-block;
  }

  .logo {
    text-align: center;
  }

  .indexlink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }

  .imgprofile {
    padding: 20px;
    text-align: center;
  }

  .user {
      padding-left: 10;
      padding-right: 10;
  }

  .linkprofile {
      text-decoration: none;
      color: black;
      font-weight: bold;
      position: center;
      font-size: 20;
  }

  .list_nav {
      padding: 0;
      list-style: none;
      position: relative;
      margin-top: 0%;
      margin-bottom: 10%;
  }

  .nav:visited, .nav:link {
      box-sizing: border-box;
      margin: 0;
      border: 0;
      vertical-align: top;
      background: white;
      font-weight: normal;
      border: 1px solid #63baf9;
      text-decoration: none;
      color: black;
      width: 100%;
      height: 30px;
      display: inline-block;
      padding-left: 10;
      padding-right: 10;
      padding-top: 3;
  }

  .nav:hover {
      background-color: rgba(230, 227, 227, 1);
      color: black;
  }

  .navimage {
    float: right;
    padding-top: 1;
  }


  /* MAIN */

  /* SEARCHBOX */

  .header {
    padding-left: 3%;
    padding-right: 3%;
  }

  .searchbar {
    float: left;
      padding-left: 10px;
      border: none;
      height: 38px;
      width: 90%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 18px;
      font-family: sans-serif;
      color: white;
      background-color: #1A1616;
  }

  .searchbutton {
    float: left;
      position: relative;
      height: 38px;
      width: 10%;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 18px;
      font-family: sans-serif;
      color: white;
      background-color: #63baf9;
  }

  /* MAINCONTENT */

  .maincontent {
    padding-top: 30;
    padding-left: 3%;
    padding-right: 3%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }


  /* PRODUCT */
  .product {
      background-color: #63baf9;
      display: inline-block;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      margin-bottom: 20px;
  }

  .imgproduct {
      position: relative;
      top: 15px;
  }

  .description {
      margin-bottom: 40px;
      position: relative;
      top: 20px;
      background-color: #63baf9;
      font-size: 18px;
      font-family: sans-serif;
      text-align: center;
  }

  /* CHATS */

  .chatname {
      background-color: #2e6c99;
      border: #2e6c99 4px solid;
      width: 100%;
      display: inline-block;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: center;
      color: white;
      font-size: 24;
      font-weight: bold;
      box-sizing: border-box;
      height: 30px;
  }

  .chatlink:visited, .chatlink:link {
      background-color: #63baf9;
      border: #2e6c99 4px solid;
      border-radius: 8px;
      box-sizing: border-box;
      font-weight: normal;
      text-decoration: none;
      color: black;
      width: 100%;
      height: inherit;
      padding: 10px;
      margin-top: 10px;
      display: inline-block;
  }

  .chatlink:hover {
      background-color: rgba(230, 227, 227, 1);
      color: black;
  }

  /* FOOTER */

  .footercolumn {
    display: inline-block;
    color: white;
  }

  .footertitle {
    color: #b3b3b3;
  }

  .footercontent {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footerleft {
    order: 1;
    flex: 1 auto;

    display: flex;
    flex-flow: row wrap;
  }

  .footerright {
    order: 2;
    flex: 1 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .sitio {
    order: 1;
    flex: 1 auto;
  }

  .secciones {
    order: 2;
    flex: 1 auto;
  }

  .usuario {
    order: 3;
    flex: 1 auto;
  }

  .redes {
    order: 1;
    flex: 1 auto;
  }

  .usuarios {
    order: 2;
    flex: 2 auto;
  }

}
